/* ===== Global Styling ===== */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f7fc;
}

div {
    width: 80%;
    margin: auto;
    padding: 30px;
    text-align: center;
}

/* ===== Main Heading ===== */
h1 {
    text-align: center;
    background: #8db7df;
    color: black;
    padding: 20px;
    margin: 0;
    border-bottom: 3px solid #6b95c3;
    border-radius: 5px;
}

button {
    display: block;
    padding: 12px 25px;
    background: #6b95c3;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 200px auto 0 auto;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #4a74a0;
}